name: Docusaurus

on:
  push:
    branches:
      - main
      - orbit/main
      - feature/**
    tags:
      - '**'
  pull_request:
    branches:
      - main
      - orbit/main
      - feature/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: gradle cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: gradle wrapper cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/wrapper/dists
          key: ${{ runner.os }}-gradlewrapper

      - name: konan cache
        uses: actions/cache@v1
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan

      - name: Build Dokka
        run: ./gradlew copyDokkaToWebsite

      - name: Build Docusaurus
        run: |
          cd website
          docker run --rm -v ${{ github.workspace }}/website:/docusaurus -e RUN_MODE='build' orbit-web:latest

      - name: Archive website
        uses: actions/upload-artifact@v2
        with:
          name: website
          path: |
            website/build
