name: "Validate Gradle Wrapper"

on:
  push:
    branches:
      - main
      - orbit/main
      - feature/**
    tags:
      - '*'
  pull_request:
    branches:
      - main
      - orbit/main
      - feature/**

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v4
